 <%= javascript_include_tag 'home' %>
 <%= stylesheet_link_tag    'home' %>
<div class="container-fluid">
	<div class="jumbotron text-center">
		<h2>A joke a day keeps the doctor away</h2>
		<small>If you joke wrong way, your teeth have to pay. (serious)</small>
	</div>
	<div class="col-sm-6 col-sm-offset-3">
		<p id="joke_content">joke</p>
	</div>
	<div class="col-sm-6 col-sm-offset-3 text-center btn-action">
		<button type="button" class="btn btn-vote btn-like" id="btn-like">This is funny!</button>
		<button type="button" class="btn btn-vote btn-dislike" id="btn-dislike">This is not funny</button>
	</div>
</div>
