.container-fluid{
	padding: 0;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}
.container .jumbotron, .container-fluid .jumbotron{
	border-radius: 0px;
	background: #00CC66;
	color: white;
}
.btn-like{
	color: white;
	background: #330099;
	border-color: #330099;
	border-radius: 0px;
}
.btn-dislike{
	color: white;
	background: #00CC66;
	border-color: #00CC66;
	border-radius: 0px;

}
.btn:hover, .btn:focus{
	color: white;
}
.footer{
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	border-top: solid 1px #C0C0C0 ;

}
.btn-action{
	padding-top: 50px;
}