<p id="notice"><%= notice %></p>

<h1>Listing Jokes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jokes.each do |joke| %>
      <tr>
        <td><%= joke.joke_content.html_safe %></td>
        <td><%= link_to 'Show', joke %></td>
        <td><%= link_to 'Edit', edit_joke_path(joke) %></td>
        <td><%= link_to 'Destroy', joke, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joke', new_joke_path %>
